:root {
    --size-bezel: .5rem;
    --size-radius: 4px;
}

.mainWrapper
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background: white;

}

.mainContainer
{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: var(--transperent-box-shadow-wide);
    background: white;
    width: 500px;
    height: 600px;
    overflow: hidden;
    padding: 20px;
}

.mainContent
{
    display: inline-flex;
    flex-direction: column;
}

.input
{
    position: relative;
}

.input__label
{
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--white);
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
}

.input__field
{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);
}

.input__field:not(:placeholder-shown) ~ .input__label,
.input__field:focus ~ .input__label
{
    transform: translate(.25rem, -65%) scale(.8);
    color: var(--blue-400);
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: calc(var(--size-bezel) * 2.5);
}

.input + .input
{
    margin-top: calc(var(--size-bezel) * 2.5);
}

.containerName
{
    color: var(--blue-400);
}

.customButton
{
    border-radius: var(--size-radius);
    border: none;
    color: var(--white);
    background: var(--blue-400);
    transition: background 0.3s ease;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 0.8em;
}

.customButton:hover
{
    background: var(--blue-500);
}

.customButton[type="reset"]
{
    margin-left: var(--size-bezel);
}

.customLink
{
    margin: 0;
    padding: 0;
    text-align: end;
    font-size: 1em;
}

.customLink a
{
    font-weight: bold;
    color: var(--blue-300);
    text-decoration: none;
}

.customLink a:hover
{
    color: var(--blue-500);
    text-decoration: underline;
}