:root
{
    --white: #FFFFFF;
    --black: #212121;
    --gray-300: #8F8F8F;
    --blue-500: #0D47A1;
    --blue-400: #1565C0;
    --blue-300: #1976D2;
    --blue-200: #42A5F5;
    --blue-100: #AED6F1;
    --orange-400: #fab700;
    --transperent-blue-200: #42A5F588;
    --transperent-box-shadow: 0px 0px 12px 3px rgba(189, 189, 189, 40%);
    --transperent-box-shadow-wide: 0px 0px 30px 10px rgba(189, 189, 189, 40%);
}

*,
*:before,
*:after
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    font-family: Arial, serif;
    padding: 0;
    margin: 0;
}
