header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--white, white);
    min-width: 100vw;
    padding: 10px 70px 10px 70px;
    font-family: Cuprum, Arial, Helvetica, sans-serif;
    box-shadow: var(--transperent-box-shadow);
}

.MainInfo
{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-height: 40px;
    margin: 0;
    padding: 0;
}

.header-logo
{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.header-website-name a
{
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

/*Navigation*/

.dws-menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dws-menu * {
    margin: 0;
    padding: 0;
}

.dws-menu ul,
.dws-menu ol {
    list-style: none;
}

.dws-menu > ul {
    display: flex;
    justify-content: center;
}

.dws-menu > ul li {
    position: relative;
}

.dws-menu > ul li > a i.fa {
    font-size: 18px;
}

.dws-menu > ul li a {
    display: block;
    border-radius: 5px;
    background: var(--white, #ffffff);
    box-shadow: var(--transperent-box-shadow);
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    color: var(--blue-200);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.dws-menu li a:hover {
    background: var(--blue-300);
    color: var(--white);
    box-shadow: none;
    transition: all 0.3s ease;
}

.dws-menu > ul li + li
{
    margin-left: 20px;
}

/*sub menu*/
.dws-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
    border-radius: 5px;
}

.dws-menu li > ul li a {
    padding: 10px;
    text-transform: none;
    background: var(--white);
    box-shadow: none;
}

.dws-menu li > ul li + li
{
    margin: 0;
}

.dws-menu li > ul li a {
    padding: 10px;
    text-transform: none;
    background: var(--white);
    border-radius: 0;
}

.dws-menu li > ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

.dws-menu li > ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

.dws-menu li > ul li ul {
    position: absolute;
    right: -150px;
    top: 0;
}

.dws-menu li:hover > ul {
    display: block;
    box-shadow: var(--transperent-box-shadow);
    z-index: 2;
}